main.py
*.exe
PolygonDB
pteroegg.json
.vscode
compiled
package-lock.json
package.json
node_modules

#Rust Files
PolygonDB_Rust/target

# Added by cargo

/target

#Wrappers of other langs but I wanna push them here

wrapper.py